footer {
    height: 5%;
    margin: 1rem;
    font-weight: 12px;
    text-align: center;
    font-size: 12px;
}

p {
    margin: 0px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

a:hover {
    color: #1E4178;
}

@media (min-width: 768px) {
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }
}
